github "Moya/Moya" "8.0.0-beta.5"
github "Hearst-DD/ObjectMapper" ~> 2.2.0
github "onevcat/Kingfisher" ~> 3.2.0
github "malcommac/SwiftDate" ~> 4.0.0
github "groue/GRMustache.swift"
github "kishikawakatsumi/KeychainAccess"
github "TTTAttributedLabel/TTTAttributedLabel"
github "tid-kijyun/Kanna" ~> 2.0
github "SwiftKickMobile/SwiftMessages"
