github "Moya/Moya"
github "Hearst-DD/ObjectMapper"
github "onevcat/Kingfisher"
github "malcommac/SwiftDate"
github "groue/GRMustache.swift"
github "kishikawakatsumi/KeychainAccess"
github "TTTAttributedLabel/TTTAttributedLabel"
github "tid-kijyun/Kanna"
github "SwiftKickMobile/SwiftMessages"
github "twicketapp/TwicketSegmentedControl"
github "uias/Pageboy"
