<div class="discussion-block-title">
<a href="/{{ author }}">
<img alt="@{{ author }}" class="avatar" height="32" width="32" src="{{ avatar_url }}">
</a>

<div class="discussion-block-meta">
<a href="/{{ author }}" class="username">{{ author }}</a>
<br>
{{ created_at }}
<br>
</div>

</div>

<div class="markdown-body">
{{{ content }}}
{{^ content }}
<p class="text-gray">
<em>No description provided.</em>
</p>
{{/}}
</div>
