<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="github-modified.css" rel="stylesheet" />
        <base href="{{ base_url }}" />
    </head>
    <body>
        {{{ content }}}
    </body>
</html>
