query($login:String!, $first:Int, $after:String, $orderBy: {{ OrderType }}) {
	{{ owner_type }}(login: $login) {
		{{ connection }}(first: $first, after: $after, orderBy: $orderBy) {
			totalCount
			pageInfo {
				hasNextPage
				endCursor
			}
			nodes {
				{{ repositoryNode }}
			}
		}
	}
}
