<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="common.css" rel="stylesheet" />
        <link href="Prism/themes/{{ theme }}.css" rel="stylesheet" />
    </head>
    <body>
        <script src="Prism/prism.js"></script>
        <pre {{  line-numbers }}><code class="language-{{ class }}">{{ content }}</code></pre>
    </body>
</html>