<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   file_extensions.plist
   iGithub

   Created by Chan Hocheung on 7/26/16.
   Copyright (c) 2016 Hocheung. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>html</key>
        <string>markup</string>
        <key>css</key>
        <string>css</string>
        <key>clike</key>
        <string>clike</string>
        <key>js</key>
        <string>javascript</string>
        <key>abap</key>
        <string>abap</string>
        <key>as</key>
        <string>actionscript</string>
        <key>ada</key>
        <string>ada</string>
        <!--<key>apacheconf</key>
         <string>apacheconf</string>-->
        <key>apl</key>
        <string>apl</string>
        <key>applescript</key>
        <string>applescript</string>
        <!--<key>asciidoc</key>
         <string>asciidoc</string>-->
        <!--<key>aspnet</key>
         <string>aspnet</string>-->
        <key>autoit</key>
        <string>autoit</string>
        <key>autohotkey</key>
        <string>autohotkey</string>
        <key>sh</key>
        <string>bash</string>
        <key>basic</key>
        <string>basic</string>
        <key>batch</key>
        <string>batch</string>
        <key>bison</key>
        <string>bison</string>
        <key>brainfuck</key>
        <string>brainfuck</string>
        <key>bro</key>
        <string>bro</string>
        <key>c</key>
        <string>c</string>
        <key>cs</key>
        <string>csharp</string>
        <key>cc</key>
        <string>cpp</string>
        <key>cpp</key>
        <string>cpp</string>
        <key>h</key>
        <string>cpp</string>
        <key>hpp</key>
        <string>cpp</string>
        <key>coffee</key>
        <string>coffeescript</string>
        <key>litcoffee</key>
        <string>coffeescript</string>
        <key>cr</key>
        <string>crystal</string>
        <key>css-extras</key>
        <string>css-extras</string>
        <key>d</key>
        <string>d</string>
        <key>dart</key>
        <string>dart</string>
        <key>diff</key>
        <string>diff</string>
        <key>docker</key>
        <string>docker</string>
        <key>e</key>
        <string>eiffel</string>
        <key>es</key>
        <string>eiffel</string>
        <key>ex</key>
        <string>elixir</string>
        <key>exs</key>
        <string>elixir</string>
        <key>erl</key>
        <string>erlang</string>
        <key>hrl</key>
        <string>erlang</string>
        <key>fs</key>
        <string>fsharp</string>
        <key>fsi</key>
        <string>fsharp</string>
        <key>fsx</key>
        <string>fsharp</string>
        <key>fsscript</key>
        <string>fsharp</string>
        <key>f</key>
        <string>fortran</string>
        <key>for</key>
        <string>fortran</string>
        <key>f90</key>
        <string>fortran</string>
        <key>f95</key>
        <string>fortran</string>
        <key>feature</key>
        <string>gherkin</string>
        <key>git</key>
        <string>git</string>
        <key>glsl</key>
        <string>glsl</string>
        <key>go</key>
        <string>go</string>
        <key>graphql</key>
        <string>graphql</string>
        <key>groovy</key>
        <string>groovy</string>
        <key>haml</key>
        <string>haml</string>
        <key>handlebars</key>
        <string>handlebars</string>
        <key>hbs</key>
        <string>handlebars</string>
        <key>hs</key>
        <string>haskell</string>
        <key>lhs</key>
        <string>haskell</string>
        <key>hx</key>
        <string>haxe</string>
        <key>hxml</key>
        <string>haxe</string>
        <key>inform7</key>
        <string>inform7</string>
        <key>ini</key>
        <string>ini</string>
        <key>j</key>
        <string>j</string>
        <key>jade</key>
        <string>jade</string>
        <key>java</key>
        <string>java</string>
        <key>json</key>
        <string>json</string>
        <key>jl</key>
        <string>julia</string>
        <!--<key>keyman</key>
         <string>keyman</string>-->
        <key>kt</key>
        <string>kotlin</string>
        <key>kts</key>
        <string>kotlin</string>
        <key>ltx</key>
        <string>latex</string>
        <key>tex</key>
        <string>latex</string>
        <key>less</key>
        <string>less</string>
        <key>livescript</key>
        <string>livescript</string>
        <key>lolcode</key>
        <string>lolcode</string>
        <key>lua</key>
        <string>lua</string>
        <key>makefile</key>
        <string>makefile</string>
        <key>md</key>
        <string>markdown</string>
        <key>matlab</key>
        <string>matlab</string>
        <key>mel</key>
        <string>mel</string>
        <key>mizar</key>
        <string>mizar</string>
        <key>monkey</key>
        <string>monkey</string>
        <key>nasm</key>
        <string>nasm</string>
        <key>nginx</key>
        <string>nginx</string>
        <key>nim</key>
        <string>nim</string>
        <key>nix</key>
        <string>nix</string>
        <key>nsis</key>
        <string>nsis</string>
        <key>objectivec</key>
        <string>objectivec</string>
        <key>ocaml</key>
        <string>ocaml</string>
        <key>oz</key>
        <string>oz</string>
        <key>parigp</key>
        <string>parigp</string>
        <key>parser</key>
        <string>parser</string>
        <key>pascal</key>
        <string>pascal</string>
        <key>perl</key>
        <string>perl</string>
        <key>php</key>
        <string>php</string>
        <key>php-extras</key>
        <string>php-extras</string>
        <key>ps1</key>
        <string>powershell</string>
        <key>pde</key>
        <string>processing</string>
        <key>pl</key>
        <string>prolog</string>
        <key>pro</key>
        <string>prolog</string>
        <key>P</key>
        <string>prolog</string>
        <!--<key>properties</key>
        <string>properties</string>
         <key>protobuf</key>
         <string>protobuf</string>-->
        <!--<key>puppet</key>
         <string>puppet</string>-->
        <key>pure</key>
        <string>pure</string>
        <key>py</key>
        <string>python</string>
        <key>q</key>
        <string>q</string>
        <key>qore</key>
        <string>qore</string>
        <key>r</key>
        <string>r</string>
        <key>jsx</key>
        <string>jsx</string>
        <key>rest</key>
        <string>rest</string>
        <key>rip</key>
        <string>rip</string>
        <key>roboconf</key>
        <string>roboconf</string>
        <key>rb</key>
        <string>ruby</string>
        <key>rs</key>
        <string>rust</string>
        <key>rlib</key>
        <string>rust</string>
        <key>sas</key>
        <string>sas</string>
        <key>sass</key>
        <string>sass</string>
        <key>scss</key>
        <string>scss</string>
        <key>scala</key>
        <string>scala</string>
        <key>sc</key>
        <string>scala</string>
        <key>scm</key>
        <string>scheme</string>
        <key>ss</key>
        <string>scheme</string>
        <key>rkt</key>
        <string>scheme</string>
        <key>smalltalk</key>
        <string>smalltalk</string>
        <key>smarty</key>
        <string>smarty</string>
        <key>sql</key>
        <string>sql</string>
        <key>stylus</key>
        <string>stylus</string>
        <key>swift</key>
        <string>swift</string>
        <key>tcl</key>
        <string>tcl</string>
        <key>textile</key>
        <string>textile</string>
        <key>twig</key>
        <string>twig</string>
        <key>ts</key>
        <string>typescript</string>
        <key>v</key>
        <string>verilog</string>
        <key>vhdl</key>
        <string>vhdl</string>
        <key>vim</key>
        <string>vim</string>
        <key>wiki</key>
        <string>wiki</string>
        <key>xojo</key>
        <string>xojo</string>
        <key>yaml</key>
        <string>yaml</string>
    </dict>
</plist>
