<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="common.css" rel="stylesheet" />

        <style>
        pre {
            word-wrap: break-word;
        }
        </style>
    </head>
    <body>
        <pre>
            {{{ content }}}
        </pre>
    </body>
</html>