<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>All Languages</string>
    <string>ActionScript</string>
    <string>C</string>
    <string>C#</string>
    <string>C++</string>
    <string>Clojure</string>
    <string>CoffeeScript</string>
    <string>CSS</string>
    <string>Go</string>
    <string>Haskell</string>
    <string>HTML</string>
    <string>Java</string>
    <string>JavaScript</string>
    <string>Lua</string>
    <string>Matlab</string>
    <string>Objective-C</string>
    <string>Perl</string>
    <string>PHP</string>
    <string>Python</string>
    <string>R</string>
    <string>Ruby</string>
    <string>Rust</string>
    <string>Scala</string>
    <string>Shell</string>
    <string>Swift</string>
    <string>ABAP</string>
    <string>Ada</string>
    <string>Agda</string>
    <string>AGS Script</string>
    <string>Alloy</string>
    <string>AMPL</string>
    <string>ANTLR</string>
    <string>ApacheConf</string>
    <string>Apex</string>
    <string>API Blueprint</string>
    <string>APL</string>
    <string>AppleScript</string>
    <string>Arc</string>
    <string>Arduino</string>
    <string>ASP</string>
    <string>AspectJ</string>
    <string>Assembly</string>
    <string>ATS</string>
    <string>Augeas</string>
    <string>AutoHotkey</string>
    <string>AutoIt</string>
    <string>Awk</string>
    <string>Batchfile</string>
    <string>Befunge</string>
    <string>Bison</string>
    <string>BitBake</string>
    <string>BlitzBasic</string>
    <string>BlitzMax</string>
    <string>Bluespec</string>
    <string>Boo</string>
    <string>Brainfuck</string>
    <string>Brightscript</string>
    <string>Bro</string>
    <string>Cap'n Proto</string>
    <string>CartoCSS</string>
    <string>Ceylon</string>
    <string>Chapel</string>
    <string>Charity</string>
    <string>ChucK</string>
    <string>Cirru</string>
    <string>Clarion</string>
    <string>Clean</string>
    <string>Click</string>
    <string>CLIPS</string>
    <string>CMake</string>
    <string>COBOL</string>
    <string>ColdFusion</string>
    <string>Common Lisp</string>
    <string>Component Pascal</string>
    <string>Cool</string>
    <string>Coq</string>
    <string>Crystal</string>
    <string>Csound</string>
    <string>Csound Document</string>
    <string>Csound Score</string>
    <string>Cucumber</string>
    <string>Cuda</string>
    <string>Cycript</string>
    <string>D</string>
    <string>Darcs Patch</string>
    <string>Dart</string>
    <string>Diff</string>
    <string>DIGITAL Command Language</string>
    <string>DM</string>
    <string>Dogescript</string>
    <string>DTrace</string>
    <string>Dylan</string>
    <string>E</string>
    <string>Eagle</string>
    <string>eC</string>
    <string>ECL</string>
    <string>Eiffel</string>
    <string>Elixir</string>
    <string>Elm</string>
    <string>Emacs Lisp</string>
    <string>EmberScript</string>
    <string>EQ</string>
    <string>Erlang</string>
    <string>F#</string>
    <string>Factor</string>
    <string>Fancy</string>
    <string>Fantom</string>
    <string>FLUX</string>
    <string>Forth</string>
    <string>FORTRAN</string>
    <string>FreeMarker</string>
    <string>Frege</string>
    <string>Game Maker Language</string>
    <string>GAMS</string>
    <string>GAP</string>
    <string>GCC Machine Description</string>
    <string>GDB</string>
    <string>GDScript</string>
    <string>Genshi</string>
    <string>Gettext Catalog</string>
    <string>GLSL</string>
    <string>Glyph</string>
    <string>Gnuplot</string>
    <string>Golo</string>
    <string>Gosu</string>
    <string>Grace</string>
    <string>Grammatical Framework</string>
    <string>Groff</string>
    <string>Groovy</string>
    <string>Hack</string>
    <string>Handlebars</string>
    <string>Harbour</string>
    <string>Haxe</string>
    <string>HCL</string>
    <string>HLSL</string>
    <string>Hy</string>
    <string>HyPhy</string>
    <string>IDL</string>
    <string>Idris</string>
    <string>IGOR Pro</string>
    <string>Inform 7</string>
    <string>Inno Setup</string>
    <string>Io</string>
    <string>Ioke</string>
    <string>Isabelle</string>
    <string>J</string>
    <string>Jasmin</string>
    <string>JFlex</string>
    <string>JSONiq</string>
    <string>Julia</string>
    <string>Jupyter Notebook</string>
    <string>KiCad</string>
    <string>Kit</string>
    <string>Kotlin</string>
    <string>KRL</string>
    <string>LabVIEW</string>
    <string>Lasso</string>
    <string>Lean</string>
    <string>Lex</string>
    <string>LilyPond</string>
    <string>Limbo</string>
    <string>Liquid</string>
    <string>LiveScript</string>
    <string>LLVM</string>
    <string>Logos</string>
    <string>Logtalk</string>
    <string>LOLCODE</string>
    <string>LookML</string>
    <string>LoomScript</string>
    <string>LSL</string>
    <string>M</string>
    <string>M4</string>
    <string>Makefile</string>
    <string>Mako</string>
    <string>Markdown</string>
    <string>Mask</string>
    <string>Mathematica</string>
    <string>Max</string>
    <string>MAXScript</string>
    <string>Mercury</string>
    <string>Metal</string>
    <string>MiniD</string>
    <string>Mirah</string>
    <string>Modelica</string>
    <string>Modula-2</string>
    <string>Module Management System</string>
    <string>Monkey</string>
    <string>Moocode</string>
    <string>MoonScript</string>
    <string>MTML</string>
    <string>mupad</string>
    <string>Myghty</string>
    <string>NCL</string>
    <string>Nemerle</string>
    <string>nesC</string>
    <string>NetLinx</string>
    <string>NetLinx+ERB</string>
    <string>NetLogo</string>
    <string>NewLisp</string>
    <string>Nginx</string>
    <string>Nimrod</string>
    <string>Nit</string>
    <string>Nix</string>
    <string>NSIS</string>
    <string>Nu</string>
    <string>Objective-C++</string>
    <string>Objective-J</string>
    <string>OCaml</string>
    <string>Omgrofl</string>
    <string>ooc</string>
    <string>Opa</string>
    <string>Opal</string>
    <string>OpenEdge ABL</string>
    <string>OpenSCAD</string>
    <string>Ox</string>
    <string>Oxygene</string>
    <string>Oz</string>
    <string>Pan</string>
    <string>Papyrus</string>
    <string>Parrot</string>
    <string>Pascal</string>
    <string>PAWN</string>
    <string>Perl6</string>
    <string>PicoLisp</string>
    <string>PigLatin</string>
    <string>Pike</string>
    <string>PLpgSQL</string>
    <string>PLSQL</string>
    <string>PogoScript</string>
    <string>Pony</string>
    <string>PostScript</string>
    <string>POV-Ray SDL</string>
    <string>PowerShell</string>
    <string>Processing</string>
    <string>Prolog</string>
    <string>Propeller Spin</string>
    <string>Protocol Buffer</string>
    <string>Puppet</string>
    <string>Pure Data</string>
    <string>PureBasic</string>
    <string>PureScript</string>
    <string>QMake</string>
    <string>QML</string>
    <string>Racket</string>
    <string>Ragel in Ruby Host</string>
    <string>RAML</string>
    <string>RDoc</string>
    <string>REALbasic</string>
    <string>Rebol</string>
    <string>Red</string>
    <string>Redcode</string>
    <string>Ren'Py</string>
    <string>RenderScript</string>
    <string>RobotFramework</string>
    <string>Rouge</string>
    <string>SaltStack</string>
    <string>SAS</string>
    <string>Scheme</string>
    <string>Scilab</string>
    <string>Self</string>
    <string>ShellSession</string>
    <string>Shen</string>
    <string>Slash</string>
    <string>Smali</string>
    <string>Smalltalk</string>
    <string>Smarty</string>
    <string>SMT</string>
    <string>SourcePawn</string>
    <string>SQF</string>
    <string>SQL</string>
    <string>SQLPL</string>
    <string>Squirrel</string>
    <string>SRecode Template</string>
    <string>Stan</string>
    <string>Standard ML</string>
    <string>Stata</string>
    <string>SuperCollider</string>
    <string>SystemVerilog</string>
    <string>Tcl</string>
    <string>Tea</string>
    <string>Terra</string>
    <string>TeX</string>
    <string>Thrift</string>
    <string>TLA</string>
    <string>Turing</string>
    <string>TXL</string>
    <string>TypeScript</string>
    <string>Uno</string>
    <string>UnrealScript</string>
    <string>UrWeb</string>
    <string>Vala</string>
    <string>VCL</string>
    <string>Verilog</string>
    <string>VHDL</string>
    <string>VimL</string>
    <string>Visual Basic</string>
    <string>Volt</string>
    <string>Vue</string>
    <string>Web Ontology Language</string>
    <string>WebIDL</string>
    <string>wisp</string>
    <string>X10</string>
    <string>xBase</string>
    <string>XC</string>
    <string>XML</string>
    <string>Xojo</string>
    <string>XPages</string>
    <string>XProc</string>
    <string>XQuery</string>
    <string>XS</string>
    <string>XSLT</string>
    <string>Xtend</string>
    <string>Yacc</string>
    <string>Zephir</string>
    <string>Zimpl</string>
</array>
</plist>
