<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   languages_dict.plist
   iGithub

   Created by Chan Hocheung on 9/13/16.
   Copyright (c) 2016 Hocheung. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>All Languages</key>
        <string></string>
        <key>ABAP</key>
        <string>abap</string>
        <key>ActionScript</key>
        <string>as3</string>
        <key>Ada</key>
        <string>ada</string>
        <key>Agda</key>
        <string>agda</string>
        <key>AGS Script</key>
        <string>ags-script</string>
        <key>Alloy</key>
        <string>alloy</string>
        <key>AMPL</key>
        <string>ampl</string>
        <key>ANTLR</key>
        <string>antlr</string>
        <key>ApacheConf</key>
        <string>apacheconf</string>
        <key>Apex</key>
        <string>apex</string>
        <key>API Blueprint</key>
        <string>api-blueprint</string>
        <key>APL</key>
        <string>apl</string>
        <key>AppleScript</key>
        <string>applescript</string>
        <key>Arc</key>
        <string>arc</string>
        <key>Arduino</key>
        <string>arduino</string>
        <key>ASP</key>
        <string>aspx-vb</string>
        <key>AspectJ</key>
        <string>aspectj</string>
        <key>Assembly</key>
        <string>nasm</string>
        <key>ATS</key>
        <string>ats</string>
        <key>Augeas</key>
        <string>augeas</string>
        <key>AutoHotkey</key>
        <string>autohotkey</string>
        <key>AutoIt</key>
        <string>autoit</string>
        <key>Awk</key>
        <string>awk</string>
        <key>Batchfile</key>
        <string>bat</string>
        <key>Befunge</key>
        <string>befunge</string>
        <key>Bison</key>
        <string>bison</string>
        <key>BitBake</key>
        <string>bitbake</string>
        <key>BlitzBasic</key>
        <string>blitzbasic</string>
        <key>BlitzMax</key>
        <string>blitzmax</string>
        <key>Bluespec</key>
        <string>bluespec</string>
        <key>Boo</key>
        <string>boo</string>
        <key>Brainfuck</key>
        <string>brainfuck</string>
        <key>Brightscript</key>
        <string>brightscript</string>
        <key>Bro</key>
        <string>bro</string>
        <key>C</key>
        <string>c</string>
        <key>C#</key>
        <string>csharp</string>
        <key>C++</key>
        <string>cpp</string>
        <key>Cap'n Proto</key>
        <string>cap%27n-proto</string>
        <key>CartoCSS</key>
        <string>cartocss</string>
        <key>Ceylon</key>
        <string>ceylon</string>
        <key>Chapel</key>
        <string>chapel</string>
        <key>Charity</key>
        <string>charity</string>
        <key>ChucK</key>
        <string>chuck</string>
        <key>Cirru</key>
        <string>cirru</string>
        <key>Clarion</key>
        <string>clarion</string>
        <key>Clean</key>
        <string>clean</string>
        <key>Click</key>
        <string>click</string>
        <key>CLIPS</key>
        <string>clips</string>
        <key>Clojure</key>
        <string>clojure</string>
        <key>CMake</key>
        <string>cmake</string>
        <key>COBOL</key>
        <string>cobol</string>
        <key>CoffeeScript</key>
        <string>coffeescript</string>
        <key>ColdFusion</key>
        <string>cfm</string>
        <key>Common Lisp</key>
        <string>common-lisp</string>
        <key>Component Pascal</key>
        <string>component-pascal</string>
        <key>Cool</key>
        <string>cool</string>
        <key>Coq</key>
        <string>coq</string>
        <key>Crystal</key>
        <string>crystal</string>
        <key>Csound</key>
        <string>csound</string>
        <key>Csound Document</key>
        <string>csound-document</string>
        <key>Csound Score</key>
        <string>csound-score</string>
        <key>CSS</key>
        <string>css</string>
        <key>Cucumber</key>
        <string>cucumber</string>
        <key>Cuda</key>
        <string>cuda</string>
        <key>Cycript</key>
        <string>cycript</string>
        <key>D</key>
        <string>d</string>
        <key>Darcs Patch</key>
        <string>dpatch</string>
        <key>Dart</key>
        <string>dart</string>
        <key>Diff</key>
        <string>diff</string>
        <key>DIGITAL Command Language</key>
        <string>digital-command-language</string>
        <key>DM</key>
        <string>dm</string>
        <key>Dogescript</key>
        <string>dogescript</string>
        <key>DTrace</key>
        <string>dtrace</string>
        <key>Dylan</key>
        <string>dylan</string>
        <key>E</key>
        <string>e</string>
        <key>Eagle</key>
        <string>eagle</string>
        <key>eC</key>
        <string>ec</string>
        <key>ECL</key>
        <string>ecl</string>
        <key>Eiffel</key>
        <string>eiffel</string>
        <key>Elixir</key>
        <string>elixir</string>
        <key>Elm</key>
        <string>elm</string>
        <key>Emacs Lisp</key>
        <string>emacs-lisp</string>
        <key>EmberScript</key>
        <string>emberscript</string>
        <key>EQ</key>
        <string>eq</string>
        <key>Erlang</key>
        <string>erlang</string>
        <key>F#</key>
        <string>fsharp</string>
        <key>Factor</key>
        <string>factor</string>
        <key>Fancy</key>
        <string>fancy</string>
        <key>Fantom</key>
        <string>fantom</string>
        <key>FLUX</key>
        <string>flux</string>
        <key>Forth</key>
        <string>forth</string>
        <key>FORTRAN</key>
        <string>fortran</string>
        <key>FreeMarker</key>
        <string>freemarker</string>
        <key>Frege</key>
        <string>frege</string>
        <key>Game Maker Language</key>
        <string>game-maker-language</string>
        <key>GAMS</key>
        <string>gams</string>
        <key>GAP</key>
        <string>gap</string>
        <key>GCC Machine Description</key>
        <string>gcc-machine-description</string>
        <key>GDB</key>
        <string>gdb</string>
        <key>GDScript</key>
        <string>gdscript</string>
        <key>Genshi</key>
        <string>genshi</string>
        <key>Gettext Catalog</key>
        <string>pot</string>
        <key>GLSL</key>
        <string>glsl</string>
        <key>Glyph</key>
        <string>glyph</string>
        <key>Gnuplot</key>
        <string>gnuplot</string>
        <key>Go</key>
        <string>go</string>
        <key>Golo</key>
        <string>golo</string>
        <key>Gosu</key>
        <string>gosu</string>
        <key>Grace</key>
        <string>grace</string>
        <key>Grammatical Framework</key>
        <string>grammatical-framework</string>
        <key>Groff</key>
        <string>groff</string>
        <key>Groovy</key>
        <string>groovy</string>
        <key>Hack</key>
        <string>hack</string>
        <key>Handlebars</key>
        <string>handlebars</string>
        <key>Harbour</key>
        <string>harbour</string>
        <key>Haskell</key>
        <string>haskell</string>
        <key>Haxe</key>
        <string>haxe</string>
        <key>HCL</key>
        <string>hcl</string>
        <key>HLSL</key>
        <string>hlsl</string>
        <key>HTML</key>
        <string>html</string>
        <key>Hy</key>
        <string>hy</string>
        <key>HyPhy</key>
        <string>hyphy</string>
        <key>IDL</key>
        <string>idl</string>
        <key>Idris</key>
        <string>idris</string>
        <key>IGOR Pro</key>
        <string>igor-pro</string>
        <key>Inform 7</key>
        <string>inform-7</string>
        <key>Inno Setup</key>
        <string>inno-setup</string>
        <key>Io</key>
        <string>io</string>
        <key>Ioke</key>
        <string>ioke</string>
        <key>Isabelle</key>
        <string>isabelle</string>
        <key>J</key>
        <string>j</string>
        <key>Jasmin</key>
        <string>jasmin</string>
        <key>Java</key>
        <string>java</string>
        <key>JavaScript</key>
        <string>javascript</string>
        <key>JFlex</key>
        <string>jflex</string>
        <key>JSONiq</key>
        <string>jsoniq</string>
        <key>Julia</key>
        <string>julia</string>
        <key>Jupyter Notebook</key>
        <string>jupyter-notebook</string>
        <key>KiCad</key>
        <string>kicad</string>
        <key>Kit</key>
        <string>kit</string>
        <key>Kotlin</key>
        <string>kotlin</string>
        <key>KRL</key>
        <string>krl</string>
        <key>LabVIEW</key>
        <string>labview</string>
        <key>Lasso</key>
        <string>lasso</string>
        <key>Lean</key>
        <string>lean</string>
        <key>Lex</key>
        <string>lex</string>
        <key>LilyPond</key>
        <string>lilypond</string>
        <key>Limbo</key>
        <string>limbo</string>
        <key>Liquid</key>
        <string>liquid</string>
        <key>LiveScript</key>
        <string>livescript</string>
        <key>LLVM</key>
        <string>llvm</string>
        <key>Logos</key>
        <string>logos</string>
        <key>Logtalk</key>
        <string>logtalk</string>
        <key>LOLCODE</key>
        <string>lolcode</string>
        <key>LookML</key>
        <string>lookml</string>
        <key>LoomScript</key>
        <string>loomscript</string>
        <key>LSL</key>
        <string>lsl</string>
        <key>Lua</key>
        <string>lua</string>
        <key>M</key>
        <string>m</string>
        <key>M4</key>
        <string>m4</string>
        <key>Makefile</key>
        <string>makefile</string>
        <key>Mako</key>
        <string>mako</string>
        <key>Markdown</key>
        <string>markdown</string>
        <key>Mask</key>
        <string>mask</string>
        <key>Mathematica</key>
        <string>mathematica</string>
        <key>Matlab</key>
        <string>matlab</string>
        <key>Max</key>
        <string>max%2Fmsp</string>
        <key>MAXScript</key>
        <string>maxscript</string>
        <key>Mercury</key>
        <string>mercury</string>
        <key>Metal</key>
        <string>metal</string>
        <key>MiniD</key>
        <string>minid</string>
        <key>Mirah</key>
        <string>mirah</string>
        <key>Modelica</key>
        <string>modelica</string>
        <key>Modula-2</key>
        <string>modula-2</string>
        <key>Module Management System</key>
        <string>module-management-system</string>
        <key>Monkey</key>
        <string>monkey</string>
        <key>Moocode</key>
        <string>moocode</string>
        <key>MoonScript</key>
        <string>moonscript</string>
        <key>MTML</key>
        <string>mtml</string>
        <key>mupad</key>
        <string>mupad</string>
        <key>Myghty</key>
        <string>myghty</string>
        <key>NCL</key>
        <string>ncl</string>
        <key>Nemerle</key>
        <string>nemerle</string>
        <key>nesC</key>
        <string>nesc</string>
        <key>NetLinx</key>
        <string>netlinx</string>
        <key>NetLinx+ERB</key>
        <string>netlinx%2Berb</string>
        <key>NetLogo</key>
        <string>netlogo</string>
        <key>NewLisp</key>
        <string>newlisp</string>
        <key>Nginx</key>
        <string>nginx</string>
        <key>Nimrod</key>
        <string>nimrod</string>
        <key>Nit</key>
        <string>nit</string>
        <key>Nix</key>
        <string>nix</string>
        <key>NSIS</key>
        <string>nsis</string>
        <key>Nu</key>
        <string>nu</string>
        <key>Objective-C</key>
        <string>objective-c</string>
        <key>Objective-C++</key>
        <string>objective-c%2B%2B</string>
        <key>Objective-J</key>
        <string>objective-j</string>
        <key>OCaml</key>
        <string>ocaml</string>
        <key>Omgrofl</key>
        <string>omgrofl</string>
        <key>ooc</key>
        <string>ooc</string>
        <key>Opa</key>
        <string>opa</string>
        <key>Opal</key>
        <string>opal</string>
        <key>OpenEdge ABL</key>
        <string>openedge-abl</string>
        <key>OpenSCAD</key>
        <string>openscad</string>
        <key>Ox</key>
        <string>ox</string>
        <key>Oxygene</key>
        <string>oxygene</string>
        <key>Oz</key>
        <string>oz</string>
        <key>Pan</key>
        <string>pan</string>
        <key>Papyrus</key>
        <string>papyrus</string>
        <key>Parrot</key>
        <string>parrot</string>
        <key>Pascal</key>
        <string>pascal</string>
        <key>PAWN</key>
        <string>pawn</string>
        <key>Perl</key>
        <string>perl</string>
        <key>Perl6</key>
        <string>perl6</string>
        <key>PHP</key>
        <string>php</string>
        <key>PicoLisp</key>
        <string>picolisp</string>
        <key>PigLatin</key>
        <string>piglatin</string>
        <key>Pike</key>
        <string>pike</string>
        <key>PLpgSQL</key>
        <string>plpgsql</string>
        <key>PLSQL</key>
        <string>plsql</string>
        <key>PogoScript</key>
        <string>pogoscript</string>
        <key>Pony</key>
        <string>pony</string>
        <key>PostScript</key>
        <string>postscript</string>
        <key>POV-Ray SDL</key>
        <string>pov-ray-sdl</string>
        <key>PowerShell</key>
        <string>powershell</string>
        <key>Processing</key>
        <string>processing</string>
        <key>Prolog</key>
        <string>prolog</string>
        <key>Propeller Spin</key>
        <string>propeller-spin</string>
        <key>Protocol Buffer</key>
        <string>protocol-buffer</string>
        <key>Puppet</key>
        <string>puppet</string>
        <key>Pure Data</key>
        <string>pure-data</string>
        <key>PureBasic</key>
        <string>purebasic</string>
        <key>PureScript</key>
        <string>purescript</string>
        <key>Python</key>
        <string>python</string>
        <key>QMake</key>
        <string>qmake</string>
        <key>QML</key>
        <string>qml</string>
        <key>R</key>
        <string>r</string>
        <key>Racket</key>
        <string>racket</string>
        <key>Ragel in Ruby Host</key>
        <string>ragel-in-ruby-host</string>
        <key>RAML</key>
        <string>raml</string>
        <key>RDoc</key>
        <string>rdoc</string>
        <key>REALbasic</key>
        <string>realbasic</string>
        <key>Rebol</key>
        <string>rebol</string>
        <key>Red</key>
        <string>red</string>
        <key>Redcode</key>
        <string>redcode</string>
        <key>Ren'Py</key>
        <string>ren%27py</string>
        <key>RenderScript</key>
        <string>renderscript</string>
        <key>RobotFramework</key>
        <string>robotframework</string>
        <key>Rouge</key>
        <string>rouge</string>
        <key>Ruby</key>
        <string>ruby</string>
        <key>Rust</key>
        <string>rust</string>
        <key>SaltStack</key>
        <string>saltstack</string>
        <key>SAS</key>
        <string>sas</string>
        <key>Scala</key>
        <string>scala</string>
        <key>Scheme</key>
        <string>scheme</string>
        <key>Scilab</key>
        <string>scilab</string>
        <key>Self</key>
        <string>self</string>
        <key>Shell</key>
        <string>bash</string>
        <key>ShellSession</key>
        <string>shellsession</string>
        <key>Shen</key>
        <string>shen</string>
        <key>Slash</key>
        <string>slash</string>
        <key>Smali</key>
        <string>smali</string>
        <key>Smalltalk</key>
        <string>smalltalk</string>
        <key>Smarty</key>
        <string>smarty</string>
        <key>SMT</key>
        <string>smt</string>
        <key>SourcePawn</key>
        <string>sourcepawn</string>
        <key>SQF</key>
        <string>sqf</string>
        <key>SQL</key>
        <string>sql</string>
        <key>SQLPL</key>
        <string>sqlpl</string>
        <key>Squirrel</key>
        <string>squirrel</string>
        <key>SRecode Template</key>
        <string>srecode-template</string>
        <key>Stan</key>
        <string>stan</string>
        <key>Standard ML</key>
        <string>standard-ml</string>
        <key>Stata</key>
        <string>stata</string>
        <key>SuperCollider</key>
        <string>supercollider</string>
        <key>Swift</key>
        <string>swift</string>
        <key>SystemVerilog</key>
        <string>systemverilog</string>
        <key>Tcl</key>
        <string>tcl</string>
        <key>Tea</key>
        <string>tea</string>
        <key>Terra</key>
        <string>terra</string>
        <key>TeX</key>
        <string>tex</string>
        <key>Thrift</key>
        <string>thrift</string>
        <key>TLA</key>
        <string>tla</string>
        <key>Turing</key>
        <string>turing</string>
        <key>TXL</key>
        <string>txl</string>
        <key>TypeScript</key>
        <string>typescript</string>
        <key>Uno</key>
        <string>uno</string>
        <key>UnrealScript</key>
        <string>unrealscript</string>
        <key>UrWeb</key>
        <string>urweb</string>
        <key>Vala</key>
        <string>vala</string>
        <key>VCL</key>
        <string>vcl</string>
        <key>Verilog</key>
        <string>verilog</string>
        <key>VHDL</key>
        <string>vhdl</string>
        <key>VimL</key>
        <string>vim</string>
        <key>Visual Basic</key>
        <string>visual-basic</string>
        <key>Volt</key>
        <string>volt</string>
        <key>Vue</key>
        <string>vue</string>
        <key>Web Ontology Language</key>
        <string>web-ontology-language</string>
        <key>WebIDL</key>
        <string>webidl</string>
        <key>wisp</key>
        <string>wisp</string>
        <key>X10</key>
        <string>x10</string>
        <key>xBase</key>
        <string>xbase</string>
        <key>XC</key>
        <string>xc</string>
        <key>XML</key>
        <string>xml</string>
        <key>Xojo</key>
        <string>xojo</string>
        <key>XPages</key>
        <string>xpages</string>
        <key>XProc</key>
        <string>xproc</string>
        <key>XQuery</key>
        <string>xquery</string>
        <key>XS</key>
        <string>xs</string>
        <key>XSLT</key>
        <string>xslt</string>
        <key>Xtend</key>
        <string>xtend</string>
        <key>Yacc</key>
        <string>yacc</string>
        <key>Zephir</key>
        <string>zephir</string>
        <key>Zimpl</key>
        <string>zimpl</string>
    </dict>
</plist>
